@import url("https://fonts.googleapis.com/css2?family=Robot:wght@400;900&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rockwell";
  color: #eaecef;
}

header {
  background: #011627;
  height: 7vh;
}
.menuIcon {
  padding: 2vh;
  padding-left: 4vw;
}
.sidenav {
  width: 15vw;
  height: 100vh;
  position: fixed;
  background: #011627;
  padding: 1vh 2vh;
  transition: all 0.5s;
  left: -100%;
}

.sidenav.active {
  left: 0;
}

.logo {
  position: absolute;
  right: 46vw;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

ul li a {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px 0;
}

ul li a:hover,
ul li a.active {
  background: #172b4d;
}

header svg {
  font-size: 30px;
}

.main-active {
  height: 90vh;
  display: fixed;
  margin-left: 18vw;
  font-size: 1.5vw;
  color: black;
}

.main {
  height: 90vh;
  display: flex;
  margin-left: 1vw;
  font-size: 25px;
  color: black;
}

.profileIcon {
  position: absolute;
  padding: 2vh;
  right: 2vw;
}

.dropdown {
  width: 6vw;
  height: 10vh;
  position: absolute;
  background: #172b4dff;
  padding: 2vh;
  transition: all 0.5s;
  display: none;
  top: 6vh;
  border-radius: 30% 10% 30% 30%;
}

.dropdown.active {
  right: 4vw;
  display: block;
}

.dropdown ul li a {
  position: absolute;
  background: #011627ff;
}

.upgradePlan {
  background: #011627ff;
  border-radius: 6px;
  color: white;
  width: 10vw;
  height: 5vh;
  outline: none;
  border: none;
}
